@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* General reset and variables */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --color-dark: #212121;
  --color-light: #fafafa;
  --color-text: #212121;
  --color-grey-dark: #333;
  --color-grey: #b8b7b7;
  --color-grey-light: #f3f3f3;
  /*--color-grey-light-transparent: rgba(243, 243, 243);*/
  --color-yellow: #eea302;
  --color-red: #ff3b25;
  --color-green: #80d8da;
  --fs-sm: 0.75rem;
  --fs-md: 1.425rem;
  --fs-lg: 6.25rem;
  --fs-heading: 2.625rem;
  --padding-xs: 2px;
  --padding-sm: 4.5px;
  --padding-md: 10px;
  --padding-lg: 24px;
  --padding-xl: 48px;
  --padding-2xl: 90px;
  --padding-3xl: 120px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--color-text);
  background-color: var(--color-grey-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

li {
  list-style: none;
}

/* utility classes */
.content-wrapper {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding-inline: 1.5rem;
}

.p-xs {
  padding: var(--padding-xs);
}
.p-sm {
  padding: var(--padding-sm);
}
.p-md {
  padding: var(--padding-md);
}
.p-lg {
  padding: var(--padding-lg);
}

.py-xs {
  padding-block: var(--padding-xs);
}
.py-sm {
  padding-block: var(--padding-sm);
}
.py-md {
  padding-block: var(--padding-md);
}
.py-lg {
  padding-block: var(--padding-lg);
}
.py-xl {
  padding-block: var(--padding-xl);
}
.py-2xl {
  padding-block: var(--padding-2xl);
}
.py-3xl {
  padding-block: var(--padding-3xl);
}

/* Display styles */
.display-block {
  display: block !important;
}
.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}
.inline-block {
  display: inline-block;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start !important;
}

.bg-grey-light {
  background-color: var(--color-grey-light);
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

/* Colour utilities */
.bg-grey-dark {
  background: var(--color-grey-dark);
}
.bg-grey-light {
  background: var(--color-grey-light);
}
.bg-dark {
  background: var(--color-dark);
}
.bg-light {
  background: var(--color-light);
}
.bg-yellow {
  background: var(--color-yellow);
}
.backdrop-blur {
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(8px);
}

.grey-light-backdrop-opacity-50 {
  background-color: rgba(243, 243, 243, 0.65);
}

/* Spacing Utilities */
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-50 {
  gap: 50px;
}

/* Text utility classes */
.bold {
  font-weight: bold;
}

.text-sm {
  font-size: var(--fs-sm);
}

.text-md {
  font-size: var(--fs-md);
}

.text-lg {
  font-size: var(--fs-lg);
}
.text-heading {
  font-size: var(--fs-heading);
}
/* others */
.icon {
  width: 20px;
  height: auto;
}

.icon.black {
  filter: grayscale(100%) brightness(0%);
}

.h-200 {
  height: 200px;
}

.min-h-80 {
  min-height: 80px;
}

/* Filter classes */
.brightness-0 {
  filter: brightness(0%);
}

.grayscale {
  filter: grayscale(100%);
}

/* Position Utilities */
.sticky {
  position: sticky;
}

.top-0 {
  top: 0px;
  z-index: 100;
}

/* Specific Element Styles */
nav#navigation-menu menu li {
  padding-inline: var(--padding-lg);
  &:not(:last-child) {
    border-width: 0px 1px 0px 0px;
    border-color: inherit;
    border-style: solid;
  }
}

#logo-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-yellow);
}

#title h6 {
  font-weight: 300;
  font-size: 0.875rem;
}

#logo h4 {
  font-size: 1.2rem;
}

footer#footer {
  padding-top: 24px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: var(--color-grey);
}

#mobile-nav-open-trigger {
  display: none;
  position: relative;
}

#mobile-nav-open-toggle {
  outline: red;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#mobile-nav {
  background-color: rgba(33, 33, 33, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  display: none;

  #mobile-nav-close-btn {
    color: white;
    position: absolute;
    top: 16px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8);
    padding: 6px 10px;
    cursor: default;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      background: var(--color-grey-dark);
    }
  }
}

#mobile-nav-close-trigger {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.material-icons {
  padding-inline: 0px !important;
  margin: 0px !important;
}

#mobile-nav > menu {
  transition: all ease-in-out 0.5s;
  color: white;
  li {
    padding-inline: 20px;
    padding-block: 13px;
    transition: all ease-in-out 0.3s;
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-grey-dark);
    }
  }
  li:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}


@media screen and (max-width: 768px) {
  #content-wrapper {
    padding-inline: 1.5rem;
  }

  #index-main {
    padding-block: var(--padding-2xl);
  }

  footer#footer {
    .content-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      justify-content: center;
      align-items: center;
      p {
        align-items: center;
        text-align: center;
      }
    }
  }

  #mobile-nav-open-trigger {
    display: block;
  }
  #navigation-menu {
		display: none;
	}
}

@media screen and (max-width: 425px) {
  section#left-section {
    flex-direction: column;
    justify-content: start;
    gap: 0px;
  }
}
