#index-main {
  min-height: 80vh;
}

#index-main .content-wrapper {
  height: 100%;
}

#main-img {
  background-image: url("/image/img-me.jpg");
  background-size: cover;
  background-position: top center;
  width: 900px;
  aspect-ratio: 1/1;
  height: 400px;
  border-radius: 50%;
  filter: grayscale(200);
}

#main-text {
  width: 70%;
  h1:first-child {
    margin-bottom: 48px;
  }
  h3 {
    text-transform: capitalize;
    font-size: 1.375rem;
  }
  p {
    line-height: 1.6rem;
  }
}

#main-links {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  li {
    border: 1.5px solid var(--color-grey-dark);
    border-radius: 50%;
    padding: 50px;
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.375rem;
    font-weight: 800;
    letter-spacing: 1px;
    background: var(--color-red);
    transition: background-color ease-in 0.25s;
  }

  li:first-child {
    background: var(--color-yellow);
  }
  li:last-child {
    background: var(--color-green);
  }
}

#main-links > li:hover {
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  #index-main .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
  }
  #main-img {
    width: 320px;
    height: 320px;
  }

  #main-text {
    text-align: center;
  }
  .index-main-body {
    padding-inline: 20px;
    align-items: center;
  }

   #main-links {
    justify-content: center;
  }
}

@media screen and (max-width: 542px) {
  #main-links {
    li {
      padding: 30px;
      height: 110px;
      width: 110px;
      font-size: 1rem;
      letter-spacing: 0.5px;
      border-width: 1px;
    }
    gap: 10px;
  }
}
